/* HERO */
body{
    margin:0;
    padding:0;
}

.main-content{
    margin:0;
    padding:0;
}

.hero{
    height:400px;
    background:url("banner.jpg") center/cover;
    position:relative;
}

.hero-overlay{
    width:100%;
    height:100%;
    background:rgba(34,139,34,0.65);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:0%;
    color:white;
}

.hero-overlay h1{
    font-size:38px;
    margin-bottom:15px;
}

.hero-overlay p{
    max-width:400px;
    margin-bottom:20px;
}

.hero-overlay button{
    width:180px;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#d7df23;
    font-weight:bold;
    cursor:pointer;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

/* SLIDER */
.slider-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:60px 10%;
    background:#f4f4f4;
}

.slider{
    width:350px;
    height:220px;
    background:#cfcfcf;
    border-radius:15px;
    position:relative;
}

.slide-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
}

.left{
    left:15px;
}

.right{
    right:15px;
}

.slider-text{
    width:350px;
}

.slider-text h2{
    margin-bottom:15px;
}

/* MENU */
.menu-section{
    text-align:center;
    padding:60px 5%;
}

.menu-section h2{
    margin-bottom:40px;
    font-size:32px;
}

.menu-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    max-width:900px;
    margin:0 auto;
}

.menu-card{
    width:180px;
    height:140px;
    background:#218838;
    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.menu-card:hover{
    transform:translateY(-5px);
}

.menu-card h4{
    margin-bottom:15px;
    color:white;
}

.menu-card i{
    font-size:28px;
    color:white;
}

/* FLOATING */
.wa-button{
    position:fixed;
    right:20px;
    bottom:100px;
    width:55px;
    height:55px;
    border-radius:50%;
    background:#25D366;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:28px;
}

.top-button{
    position:fixed;
    right:20px;
    bottom:30px;
    width:55px;
    height:55px;
    border-radius:50%;
    background:#0a8f2e;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}

/* RESPONSIVE */
@media(max-width:768px){

    .slider-section{
        flex-direction:column;
    }

    .hero-overlay{
        padding:30px;
    }

    .hero-overlay h1{
        font-size:28px;
    }
}